<!DOCTYPE html>
<html>
	<head>
		<title>
			Bridgtek IoT Platform - Account
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}" />
		<script>
			function logout(username, token) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/logout", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
						location.replace("{{ url_for('static', filename='login.html') }}");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token}));
			}

			async function get_device_list_count(username, token) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_device_list_count", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var count = jsonResponse.count;
//							document.getElementById("demo").innerHTML = count;
							resolve(count);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token}));
				});
			}

			async function get_device_index(username, token, index) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_device_index", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var device = jsonResponse.device;
//							document.getElementById("demo" + index.toString()).innerHTML = device;
							resolve(device);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "index": index}));
				});
			}

			async function get_device_list(username, token) {
				let count = await get_device_list_count(username, token);
				console.log(count)
//				document.getElementById("devicecount").innerHTML = count;

				var table = document.getElementById("devices_table");
				var rows = table.getElementsByTagName("tr")

				
				var i = 0;
				
				for (i=rows.length-1; i>0; i--) {
					table.deleteRow(i);
				}
				for (i=0; i<count; i++) {
					let result = await get_device_index(username, token, i)
					var jsonresult = JSON.parse(result);
					var devicename = jsonresult.devicename;
					var deviceid = jsonresult.deviceid;
					var cert = jsonresult.cert;
					var pkey = jsonresult.pkey;

					var rows = table.insertRow(i+1);
					var cell1 = rows.insertCell(0);
					var cell2 = rows.insertCell(1);
					var cell3 = rows.insertCell(2);
					var cell4 = rows.insertCell(3);
					cell1.innerHTML = devicename;
					cell2.innerHTML = deviceid;
					cell3.innerHTML = cert;
					cell4.innerHTML = pkey;
				}
			}

			function get_user_info(username, token) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_user_info", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						var jsonResponse = JSON.parse(xhr.responseText);
						var info = JSON.parse(jsonResponse.info);
						var given_name = info.given_name;
						var family_name = info.family_name;
						var email = info.email;
						document.getElementById("user").innerHTML = info.given_name + " " + family_name + " " + email;
						console.log(info)
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						console.log("Error, status code = " + xhr.status);
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token}));
			}

			function add_device(username, token) {
				var devicename = document.getElementById("devicename_add").value;
				console.log("add_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/register_device", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						console.log("Device added successfully!")
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Adding device failed!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
			}
			
			function remove_device(username, token) {
				var devicename = document.getElementById("devicename_remove").value;
				console.log("remove_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/unregister_device", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						console.log("Device added successfully!")
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Removing device failed!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
			}


			async function get_mac(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_mac", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			async function get_ip(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_ip", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			async function get_subnet(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_subnet", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			async function get_gateway(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_gateway", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			async function get_rtc(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_rtc", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							reject("Error, status code = " + xhr.status);
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			function set_rtc(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}
				var epochtime = (new Date()).getTime() / 1000;
				
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/set_rtc", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						var jsonResponse = JSON.parse(xhr.responseText);
						var value = jsonResponse.value;
						alert("RTC is set successfully!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "value": epochtime}));
			}

			async function get_status(username, token, devicename) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_status", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				return new Promise(function(resolve, reject) {
					xhr.onreadystatechange = function() { // Call a function when the state changes.
						if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
							document.getElementById("devicestatus").innerHTML = "Status: " + "running";
							var jsonResponse = JSON.parse(xhr.responseText);
							var value = jsonResponse.value;
							resolve(value);
						}
						else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
							document.getElementById("devicestatus").innerHTML = "Status: " + "not running";
							alert("Device is not running!");
							resolve("not running");
						}
					}
					xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename}));
				});
			}

			function reset_device(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/set_status", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						document.getElementById("devicestatus").innerHTML = "Status: " + "restarting";
						alert("Device restarted successfully!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "value": "restart"}));
			}

			function get_gpio(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}

				var number = document.getElementById("gpionumber").value;
				console.log("number = " + number);
				if (number.length==0) {
					alert("GPIO number is empty!");
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/get_gpio", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						var jsonResponse = JSON.parse(xhr.responseText);
						var value = jsonResponse.value;
						console.log(value)
						document.getElementById("gpiovalue").value  = value.toString();
						alert("GPIO is retrieved successfully!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "number": parseInt(number)}));
			}

			function set_gpio(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}

				var number = document.getElementById("gpionumber").value;
				console.log("number = " + number);
				if (number.length==0) {
					alert("GPIO number is empty!");
					return;
				}

				var value = document.getElementById("gpiovalue").value;
				console.log("number = " + value);
				if (value.length==0) {
					alert("GPIO value is empty!");
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/set_gpio", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						var jsonResponse = JSON.parse(xhr.responseText);
						var value = jsonResponse.value;
						console.log(value)
						alert("GPIO is set successfully!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "number": parseInt(number), "value": parseInt(value)}));
			}

			function write_uart(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}

				var value = document.getElementById("uarttext").value;
				console.log("value = " + value);
				if (value.length==0) {
					alert("UART text box is empty!");
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/write_uart", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						var jsonResponse = JSON.parse(xhr.responseText);
						var value = jsonResponse.value;
						console.log(value)
						alert("UART message is sent!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "value": value}));
			}

			function trigger_notification(username, token) {
				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}

				var recipient = document.getElementById("notification_recipient").value;
				console.log("recipient = " + recipient);
				if (recipient.length==0) {
					alert("Recipient is empty!");
					return;
				}

				var message = document.getElementById("notification_message").value;
				console.log("message = " + message);
				if (message.length==0) {
					alert("Message is empty!");
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/trigger_notification", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
						alert("Notification message is sent!");
					}
					else if (this.readyState === XMLHttpRequest.DONE && this.status != 200) {
						alert("Device is not running!");
					}
				}
				xhr.send(JSON.stringify({"username": username, "token": token, "devicename": devicename, "recipient": recipient, "message": message}));
			}

			async function test_device(username, token) {
				document.getElementById("devicename").innerHTML = "DeviceName:";
				document.getElementById("devicestatus").innerHTML = "Status:";
				document.getElementById("mac").innerHTML = "MacAddress:";
				document.getElementById("ip").innerHTML = "IPAddress:";
				document.getElementById("subnet").innerHTML = "SubnetMask:";
				document.getElementById("gateway").innerHTML = "Gateway:";
				document.getElementById("rtc").innerHTML = "RTCTime:";

				var devicename = document.getElementById("devicename_test").value;
				console.log("test_device = " + devicename);
				if (devicename.length==0) {
					alert("Device name is empty!");
					return;
				}
				document.getElementById("devicename").innerHTML = "DeviceName: " + devicename;

				let value = await get_status(username, token, devicename);
				console.log(value)
				document.getElementById("devicestatus").innerHTML = "Status: " + value;

				if (value == "running") {
					value = await get_mac(username, token, devicename);
					console.log(value)
					document.getElementById("mac").innerHTML = "MacAddress: " + value;

					value = await get_ip(username, token, devicename);
					console.log(value)
					document.getElementById("ip").innerHTML = "IPAddress: " + value;

					value = await get_subnet(username, token, devicename);
					console.log(value)
					document.getElementById("subnet").innerHTML = "SubnetMask: " + value;

					value = await get_gateway(username, token, devicename);
					console.log(value)
					document.getElementById("gateway").innerHTML = "Gateway: " + value;

					value = await get_rtc(username, token, devicename);
					console.log(value)
					document.getElementById("rtc").innerHTML = "RTCTime: " + value;
				}
				else {
					value = "Unknown"
					document.getElementById("mac").innerHTML = "MacAddress: " + value;
					document.getElementById("ip").innerHTML = "IPAddress: " + value;
					document.getElementById("subnet").innerHTML = "SubnetMask: " + value;
					document.getElementById("gateway").innerHTML = "Gateway: " + value;
					document.getElementById("rtc").innerHTML = "RTCTime: " + value;
				}
			}
		</script>
		<style>
			table, td, th {
				border: 1px solid black;
				text-align: left;
			}

			table {
				border-collapse: collapse;
				width: 100%;
			}

			th, td {
				padding: 8px;
			}
		</style>
	</head>

	<body>
		<div class="topnav">
			<img src="{{ url_for('static', filename='images/logo.png') }}" />
			<a class="button" style="float:right" onclick="logout('{{username}}', '{{token}}')" >LOGOUT</a>
		</div>

		<div class="row">
			<div class="card">
				<br/>
				<p>Welcome back <b>{{ username }}</b>!</p>
				<p>Your access token is <b>{{ token }}</b>!</p>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<a class="button" onclick="get_user_info('{{username}}', '{{token}}')" >Show Userinfo</a>
				<br/><br/><br/>
				<a id="user">Demo</a>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<a class="button" onclick="get_device_list('{{username}}', '{{token}}')" >Show Devices</a>

				<a class="button" onclick="add_device('{{username}}', '{{token}}')" >Add Device</a>
				<input type="text" id="devicename_add" style="width: 150px;" placeholder="Device name">

				<a class="button" onclick="remove_device('{{username}}', '{{token}}')" >Remove Device</a>
				<input type="text" id="devicename_remove" style="width: 150px;" placeholder="Device name">

				<br/>
				<a id="status">Status</a><br/><br/>
				<table id="devices_table" class="table table-bordered">
					<tr>
						<th>Name</th>
						<th>Id</th>
						<th>Certificate</th>
						<th>Private key</th>
					</tr>
				</table>


			</div>
		</div>



		<div class="row">
			<div class="card">
				<a class="button" onclick="test_device('{{username}}', '{{token}}')" >Test Device</a>
				<input type="text" id="devicename_test" style="width: 150px;" placeholder="Device name">
				<a class="button" onclick="reset_device('{{username}}', '{{token}}')" >Reset Device</a>
				<a class="button" onclick="set_rtc('{{username}}', '{{token}}')" >Set RTC</a>

				<br/><br/>
				<a id="deviceinfo">   DeviceInfo: </a><br/><br/>
				<a id="devicename">   DeviceName: </a><br/><br/>
				<a id="devicestatus"> Status:     </a><br/><br/>
				<a id="mac">          MacAddress: </a><br/><br/>
				<a id="ip">           IPAddress:  </a><br/><br/>
				<a id="subnet">       SubnetMask: </a><br/><br/>
				<a id="gateway">      Gateway:    </a><br/><br/>
				<a id="rtc">          RTCTime:    </a><br/><br/>

				<a id="gpio">         GPIO:       </a>
				<input type="text" id="gpionumber" style="width: 150px;" placeholder="GPIO number">
				<input type="text" id="gpiovalue" style="width: 150px;" placeholder="GPIO value">
				<a class="button" onclick="get_gpio('{{username}}', '{{token}}')" >Get GPIO</a>
				<a class="button" onclick="set_gpio('{{username}}', '{{token}}')" >Set GPIO</a>

				<br/><br/><br/>
				<a id="uart">         UART:       </a>
				<textarea rows = "5" cols = "60" id="uarttext">Some text</textarea>
				<a class="button" onclick="write_uart('{{username}}', '{{token}}')" >Write UART</a>

				<br/><br/><br/><br/>
				<a id="notification"> Notification:    </a>
				<a class="button" onclick="trigger_notification('{{username}}', '{{token}}')" >Trigger Email/SMS Notification</a><br/><br/>
				<input type="text" id="notification_recipient" style="width: 250px;" placeholder="Email or PhoneNumber"><br/>
				<textarea rows = "5" cols = "60" id="notification_message">Some text</textarea><br/>

			</div>
		</div>

		<div class="row">
			<div class="card">
				<br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>

		<div class="footer">
			<p>Copyright @ 2019 Bridgetek Pte. Ltd. All rights reserved.</p>
		</div>

	</body>
</html>