<!DOCTYPE html>
<html>
	<head>
		<title>
			Bridgtek IoT Platform - Confirm Reset Password
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}" />
	</head>

	<body>
		<div class="topnav2">
			<img src="{{ url_for('static', filename='images/logo.png') }}" />
			<a href="{{ url_for('static', filename='contact.html') }}" style="float:right; margin-right:20px">CONTACT</a>
			<a href="{{ url_for('static', filename='index.html') }}" style="float:right">HOME</a>
		</div>


		<div class="row" style="margin:120px auto" align="center">
			<div class="card">
				<form action="/confirm_forgot_password" method="post">
					<fieldset align="left">
						<h2>Reset your password</h2>

						<label for="username"><b>Username</b></label>
						<br/>
						<input type="text" id="username" name="username" placeholder="Username" value="{{ username_val }}" required>
						<br/>

						<label for="confirmationcode"><b>Confirmation Code</b></label>
						<br/>
						<input type="text" id="confirmationcode" name="confirmationcode" placeholder="Confirmation Code" required>
						<br/>

						<label for="password"><b>New Password</b></label>
						<br/>
						<input type="text" id="password" name="password" placeholder="New Password" required>
						<br/>

						<input type="submit" name= "form" value="Submit"/>
						<br/><br/><br/>
					</fieldset>
				</form>
			</div>
		</div>



		<div class="footer">
			<p>Copyright @ 2019 Bridgetek Pte. Ltd. All rights reserved.</p>
		</div>
	</body>
</html>