<!DOCTYPE html>
<html>
	<head>
		<title>
			Bridgtek IoT Platform - Contact
		</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="styles2.css">
	</head>

	<body>
		<div class="topnav2">
			<img src="logo.png">
			<a href="index.html" style="float:right; margin-right:20px">HOME</a>
		</div>

		<div class="row">
			<div class="card">
				<div class="fakeimg" style="height:400px;">Image</div>
			</div>
		</div>

		<div class="footer">
			<p>Copyright @ 2019 Bridgetek Pte. Ltd. All rights reserved.</p>
		</div>
	</body>
</html>