<!DOCTYPE html>
<html>
	<head>
		<title>
			Bridgtek IoT Platform
		</title>
		<link rel="stylesheet" href="styles.css">
	</head>

	<body>
		<div class="topnav">
			<img src="logo.png">
			<a href="login.html" class="button" style="float:right" >LOGIN</a>
		</div>

		<div class="row">
			<div class="card">
				<div class="fakeimg" style="height:400px;">Home</div>
			</div>
		</div>

		<div class="footer">
			<p>Copyright @ 2019 Bridgetek Pte. Ltd. All rights reserved.</p>
		</div>
	</body>
</html>